.hidden {
    display: none;
}
body {
    font-family: "Roboto",
        sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    white-space: nowrap;
}

img {
    height: auto;
    display: block;
    max-width: 100%;
}
/* common container */
.container {
        max-width: 320px;
        padding: 0 16px;
        margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
        }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
button {
    cursor: pointer;
}
/* header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo .logo-part {
    color: #2e2f42;
}

.header-logo {
    padding: 16px 0;
    display: block;
}
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
    display: block;
    fill: #2f2f37;
}
@media screen and (min-width: 768px) {
.burger-btn {
        display: none;
    }
        .header-logo {
            padding: 24px 0;
            margin-right: 120px;
            display: block;
        }
        .nav-list {
            display: flex;
            align-items: center;
            gap: 40px;
        }
                .nav-link {
                    display: block;
                    padding: 24px 0;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #2e2f42;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
                .nav-link.underlining {
                    position: relative;
                }
        
                .nav-link.underlining::after {
                    content: "";
        
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    width: 100%;
                    height: 4px;
                    border-radius: 2px;
                    background-color: #404bbf;
                    ;
        
                }
                .contacts {
                    font-style: normal;
                    display: block;
                }
                                 .contacts-list {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 12px;
                                 }
                                                                 .contacts-link {
                                                                     display: block;
                                                    
                                                                     font-size: 12px;
                                                                     line-height: 1.17;
                                                                     letter-spacing: 0.04em;
                                                                     color: #434455;
                                                                     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                                                 }
                                .header-nav {
                                    display: flex;
                                    align-items: center;
                                }
                                                                .nav-link:hover,
                                                                .nav-link:focus,
                                                                .contacts-link:hover,
                                                                .contacts-link:focus,
                                                                .nav-link.underlining {
                                                                    color: #404bbf;
                                                                }
}
@media screen and (min-width: 1158px) {
    .header-logo {
            margin-right: 76px;
          }
                .contacts-list {
                    display: flex;
                    flex-direction: row;
                        align-items: center;
                        gap: 40px;
                    
                }
                .contacts-link {
                    padding: 24px 0;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                     }
}

/* mobile menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.container-mobile-menu {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}
.btn-close-mobile-menu {
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
        border-radius: 50%;
        background-color: #e7e9fc;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-mobile-menu {
        pointer-events: none;
        fill: #2e2f42;
}

.nav-mobile-menu {
    margin-bottom: auto;
    display: flex;
        flex-direction: column;
        align-items: flex-start;
}
.nav-list-mobile {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.nav-item-mobile {
    font-size: 36px;
}
.nav-link-mobile {
    text-decoration: none;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link-mobile:hover {
    color: #404bbf;
}

.contacts-list-mobile {
    padding: 0;
    margin: 0;
    width: 193px;
    display: flex;
flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}
.contacts-link-mobile {
    font-style: normal;
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link-mobile:hover {
    color: #4d5ae5;
}
.icon-social-mobile-list {
    width: 280px;
display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 48px;
}
.icon-social-mobile-link {
    display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4d5ae5;
        text-decoration: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-mobile-menu {
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.title {
    margin: 0 auto;
    max-width: 216px;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;

}
.btn {
    margin: 0 auto;
    border: none;
    height: 56px;
    display: block;
    min-width: 169px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    /* font-weight: 500; */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    position: static;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .container {
    width: 100%;
}
.hero {
/* max-width: 320px; */
    margin: 0 auto;
    padding: 72px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

@media sscreen and (max-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
.hero {
        /* max-width: 768px; */
        padding: 112px 0;

        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_tab@1x.jpg);
    }
    .title {
            max-width: 496px;
            margin-bottom: 36px;
            font-size: 56px;
            line-height: 1.07
        }
                
}

@media screen and (min-width: 768px) and (max-width: 1157px) and (min-resolution: 192dpi) {
   .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_tab@2x.jpg);
  }    
}

@media screen and (min-width: 1158px) {
    .hero {
            /* max-width: 1440px; */
            padding: 188px 0;

            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_desk@1x.jpg);
        }
                                .btn:hover,
                                .btn:focus {
                                    background-color: #404bbf;
                                }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg_desc@2x.jpg);
    }
}
/* section 2 */
.core-values {
    /* max-width: 288px; */
    margin: 0 auto;
}

 .core-values-list {  
     display: flex;
     flex-wrap: wrap;
     max-width: 100%;
    justify-content: center;
     gap: 72px;  
 }
.core-values-item {
    max-width: 288px;       
}
 .core-values-sudtitle {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
     margin-bottom: 8px;
 }

 .core-values-text {
    max-width: 288px;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
    text-align: left;
        width: 100%;
        margin: 0;
 }
 @media only screen and (max-width: 1157px) {
    .core-values {
        /* max-width: 736px; */
    }
     .core-values {
         padding: 96px 0;
     }
     .icon-wrapper {
         display: none;
     }
 }
 

 @media screen and (min-width: 768px) {
    .core-values-list { 
        gap: 72px;
            column-gap: 24px;
            flex-wrap: wrap;
            flex-direction: row;
        }
                .core-values-item {
                /* max-width: 736px; */
                    width: calc((100% - 24px) / 2);
                        }                                                                                           
  }
   @media only screen and (min-width: 768px) and (max-width: 1157px) {
    .core-values-sudtitle {
        text-align: left;
    }
   }
@media screen and (min-width: 1158px) {
    .core-values {
        /* max-width: 1128px; */
    }
    .core-values-sudtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: left;
    }
        .core-values-text {
            font-weight: 400;
        }

    .core-values {
        padding: 120px 0;
    }

    .core-values-list {
        gap: 24px;
    }

    .core-values-item {
        width: calc((100% - 72px) / 4);
    }
    .icon-wrapper {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
        width: 264px;
        height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }
}

.team {
    /* max-width: 320px; */
    padding: 96px 0;
    margin: 0 auto;
        background-color: #f4f4fd;
        width: 100%;           
}

.team-title {
    margin: 0 auto;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.team-list {
    display: flex;
flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
    
}
.team-item {
    border-radius: 0 0 4px 4px;
        /* padding: 0px 0px 32px 0px; */
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
            background: #fff;
}
.team-photo {}
.team-content {
    margin: 0 auto;
    border-top: none;
    text-align: center;
    max-width: 232px;
    padding: 32px 16px;
}
.team-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;

}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}
.social-icons {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}

  @media screen and (max-width: 1157px) {
    .team {
        /* max-width: 768px; */
    }
    .team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 64px 24px;
    }
.team-item {
    width: calc(100% - 24px * 2) / 4;
}
  }
  @media screen and (min-width: 1158px) {
    .team {
        /* max-width: 1440px; */
            padding: 120px 0;
    }
    .team-list {
            align-items: center;
            display: flex;
            gap: 24px;
        }
    .team-item {
            width: calc((100% - 72px) / 4);
            
        }
  }
.portfolio {
    /* max-width: 288px;
    margin: 0 auto;
    border-top: none; */
    padding: 96px 0;
    /* width: 100%;
    background: #fff; */
}
.portfolio-title {
    margin: 0 auto;
margin-bottom: 72px;
  text-transform: capitalize;
    font-weight: 700;
    font-size: 35px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.portfolio-list {
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 48px;
        margin: 0 auto;
}
.portfolio-content {
    border: 1px solid #e7e9fc;
    border-top: none;
        padding: 32px 16px;
        /* width: 288px; */
        height: 120px;
}
.portfolio-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
  @media only screen and (max-width: 1157px) {
    .overlay {
        display: none;
    }
        
        .portfolio-list {
            display: flex;
                flex-wrap: wrap;
                gap: 72px 24px;
        }
               
 }
 @media screen and (min-width: 768px) {
    .portfolio {
        /* width: 100%;
            max-width: 736px; */
        }
   
.portfolio-item {
        /* width: calc((100% - 24px * 2) / 2); */
        width: 356px;
        height: 420px;
    }
     
    .portfolio-content {
    border: 1px solid #e7e9fc;
        height: 120px;
    }
        
 }
   @media screen and (min-width: 1158px) {
    .portfolio {
        /* width: 100%;
        max-width: 1128px; */
        padding: 120px 0;
    }
        .portfolio-list {
            row-gap: 48px;
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
        }
                .portfolio-item {
                    /* width: calc((100% - 24px * 2) / 3); */
                    width: 360px;
                    height: 420px;
                    margin-bottom: 0;
                    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
                        
                                                                 .portfolio-content {
                                                                     border: 1px solid #e7e9fc;
                                                                     border-top: none;
                                                                     padding: 32px 16px;
                                                                     /* width: 360px; */
                                
                                                                 }
                                                                 .portfolio-wrapper {
                                                                     position: relative;
                                                                     overflow: hidden;
                                                                     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                                                 }
                                                                                                                                 .overlay {
                                                                                                                                     position: absolute;
                                                                                                                                     top: 0;
                                                                                                                                     left: 0;
                                                                                                                                     transform: translateY(100%);
                                                                                                                                     transition-property: transform;
                                                                                                                                     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                                                                                                                     padding: 40px 32px;
                                                                                                                                     width: 100%;
                                                                                                                                     height: 100%;
                                                                                                                                     font-weight: 400;
                                                                                                                                     font-size: 16px;
                                                                                                                                     line-height: 1.5;
                                                                                                                                     letter-spacing: 0.02em;
                                                                                                                                     color: #f4f4fd;
                                                                                                                                     background: #4d5ae5;
                                                                                                                                 }
                                                                
                                                                                                                                 .portfolio-wrapper:hover .overlay {
                                                                                                                                     transform: translateX(0);
                                                                                                                                 }
                                                                
                                                                                                                                 .portfolio-item:hover {
                                                                                                                                     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                                                                                                                                         0px 1px 1px rgba(46, 47, 66, 0.16),
                                                                                                                                         0px 2px 1px rgba(46, 47, 66, 0.08);
                                                                                                                                 }
   }
   .page-footer {
    padding: 96px 0;
    background-color: #2e2f42;
   }
   .footer-container {
    display: flex;
   flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 72px;
   }
   .logo-container {
    max-width: 288px;
       flex: 1 1 100%;
   }
   
  .footer-logo-accent {
      color: #f4f4fd;
  }
  .footer-text {
    margin-top: 16px;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
        letter-spacing: 0.02em;
        color: #f4f4fd;
  }
  .social-text,
  .form-footer-text {
      margin-bottom: 16px;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #fff;
  }
  .social-footer-container {
    max-width: 208px;
      flex: 1 1 100%;
  }
  .icon-social-footer-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 0;
    list-style: none;
  }
  .icon-social-footer-item {
      width: 40px;
      height: 40px;
  }

  .icon-social-footer-link {
      width: 100%;
      height: 100%;
      background-color: #4d5ae5;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-social {
      fill: #f4f4fd;
  }
  .icon-social-footer-link:active,
  .icon-social-footer-link:focus {
      background-color: #31d0aa;
  }
  .form-footer {
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
    max-width: 288px;
  }
  .form-input {
    width: 100%;
        padding: 8px 16px;
      border: 1px solid #fff;
      background-color: transparent;
      border-radius: 4px;
      height: 40px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

      color: #ffffff;
      opacity: 0.3;
  }
  ::placeholder {
      position: absolute;
      top: 8px;
      left: 16px;
      transform: translateY(-50%);
    font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;

        opacity: 0.6;
     }
  .form-button {
    display: flex;
      border-radius: 4px;
      padding: 8px 24px ;
      margin-top: 16px;
      width: 165px;
      height: 40px;
      background-color: #4d5ae5;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #ffffff;
      border: none;
  }

  .icon-button {
      fill: #fff;
      margin-left: 16px;
  }
  @media only screen and (min-width: 768px) {
   .footer-container {
      flex-direction: row;
      align-items: baseline;
      gap: 112px 24px;
      text-align: left;
      flex-wrap: wrap;
      min-width: 584px;
    }
    .social-footer-container {
        justify-items: flex-start;
    }
  } 
    @media only screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-container {
        padding: 0 108px;
      }
    }
  @media only screen and (min-width: 1158px) {
    .footer-container {
        max-width: 1158px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0;
    }
    .logo-container {
        margin-right: 120px;
    }
    .social-footer-container {
        margin-right: 80px;
    }
        .icon-social-footer-link:hover {
            background-color: #31d0aa;
        }
                  .form-button:hover {
                      background-color: #3647C4;
                  }
  }
    
  
  .modal-overlay {
      background-color: rgba(46, 47, 66, 0.4);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
          visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 768px) {
    .logo-container {
            max-width: 264px;
        }
        .social-footer-container {
        justify-content: flex-start;
        }
                .form-footer {
                    max-width: 453px;
                    justify-content: flex-start;
                }
                .form {
                display: flex;
                gap: 24px;
             }
            
                         .form-button {
                            margin: 0;
                         }
                
                .form-input {
                    width: 264px;
                }
  }
  .modal-overlay.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
  }
  .modal {
      position: absolute;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
      background-color: #fcfcfc;
      max-width: 288px;
      min-height: 623px;
      border-radius: 4px;
      margin: 0 auto;
      padding: 72px 16px 24px 16px;
      overflow-y: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-overlay:not(.is-open) .modal {
      transform: translate(-50%, -100%);
  }
  .close-button {
      position: absolute;
      top: 24px;
      right: 24px;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      background-color: #e7e9fc;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-close {
      width: 8px;
      height: 8px;
      pointer-events: none;
      fill: #2e2f42;
  }

  .close-button:active,
  .close-button:focus {
      background-color: #404bbf;
      border: none;
  }
  .close-button .icon-close {
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close-button:active .icon-close,
  .close-button:focus .icon-close {
      fill: #ffffff;

  }
  .title-form-modal {
      width: 256px;
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      text-align: center;
      color: #2e2f42;
  }
  .input-container {
      position: relative;
  }

  .modal-form-field {
      margin-bottom: 8px;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
  }

  .label-form-modal {
      display: block;
      margin-bottom: 4px;
      color: #8e8f99;
  }
  .input-modal {
      padding: 8px 38px;
      width: 100%;
      height: 40px;
      background-color: transparent;
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px;
      outline: transparent;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-modal-form {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      pointer-events: none;
      fill: #2e2f42;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .input-modal:focus + .icon-modal-form {
      fill: #4d5ae5;
  }
  .modal-form-coment {
      margin-bottom: 16px;
  }
  ::placeholder {
      position: absolute;
      top: 12px;
      left: 16px;
      transform: translateY(-50%);
      font-weight: 400;
      font-size: 12px;
      line-height: 1.166;
      letter-spacing: 0.04em;
      color: rgba(46, 47, 66, 0.4);
  }
  .input-modal-comment {
      width: 100%;
      height: 120px;
      padding: 8px 16px;
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px;
      font-size: 12px;
      letter-spacing: 0.04em;
      line-height: 1.17;
      resize: none;
      color: rgba(46, 47, 66, 0.4);
      background-color: transparent;
      outline: transparent;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .input-modal:active {
    border-color: #4d5ae5;
  }
 .input-modal-comment:active {
     border-color: #4d5ae5;
 }
  .send-button-container {
      display: flex;
      justify-content: center;
      margin-top: 24px;
  }
  .checkbox {
    width: 256px;
      margin-bottom: 24px;
  }
  .label-checkbox {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #8e8f99;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
          border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .span-checkbox {
      width: 16px;
      height: 16px;
      margin-right: 8px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      fill: transparent;
      border: none;
      border-radius: 2px;
      border: 1px solid rgba(46, 47, 66, 0.4);   
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
flex-shrink: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
  .privacy-policy-link {
      line-height: 1.33;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #4d5ae5;
  }
  input[type="checkbox"]:checked + .label-checkbox .span-checkbox {
      border: none;
      fill: #F4F4FD;
      background-color: #404bbf;
  }
  .send-button-modal {
      margin: 0 auto;
      border-radius: 4px;
      padding: 16px 32px;
      min-width: 169px;
      height: 56px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
      background-color: #4D5AE5;
      border: none;
      color: #fff;
      display: block;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .send-button-modal:active {
      background-color: #3647c4;
  }
  .label-checkbox {
    display: flex;
    align-items: center;
  }
 @media screen and (min-width: 768px) {
     .modal {
          max-width: 408px;
          min-height: 584px;
     }
         .close-button:hover,
         .close-button:focus {
             background-color: #404bbf;
             border: none;
         }
                 .close-button:hover .icon-close,
                 .close-button:focus .icon-close {
                     fill: #ffffff;
        
                 }
                                 .title-form-modal {
                                    width: 360px;
                                 }
                                                                 .close-button:hover .icon-close {
                                                                    fill: #ffffff;
                                                                 }
                                                                                                                                 .label-checkbox {
                                                                                                                                     display: inline-block;             
                                                                                                                                     align-items: center;
                                                                                                                                    border-radius: 4px;
                                                                                                                                        width: 360px;
                                                                                                                            
                                                                                                                                 }
                                                                                                                            
                                                                                                                                 .send-button-modal:hover {
                                                                                                                                     background-color: #3647c4;
                                                                                                                                 }
 }

    
